# $AFresh1$
# complete and copy to /etc/OpenBSDTorrents.conf
#
OBT_DIR_FTP=/home/ftp/pub
OBT_DIR_HOME=/home/OpenBSDTorrents
OBT_DIR_TORRENT=/home/torrentsync/torrents
OBT_DIR_NEW_TORRENT=/home/torrentsync/new_torrents
OBT_BASENAME=OpenBSD

# These are regexes that tell what files to skip making torrents for
OBT_SKIP_DIRS=\/patches$
OBT_SKIP_FILES='^(?:\.|index\.txt)'

# URL's that we need to know the location of
OBT_URL_TRACKER=http://OpenBSD.somedomain.net:6969/announce
OBT_URL_WEBSEED=http://openbsd.somedomain.net/pub/
OBT_URL_TORRENTS=http://openbsd.somedomain.net/torrent/

# minimum limits on which dirs to create torrents from
OBT_MIN_FILES=5
# 50 * 1024 * 1024; # 50 MiB
OBT_MIN_SIZE=52428800

